.cartItem {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cartContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.brand {
    color: #1E1E1E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.name {
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.upperBlock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    width: 200px;
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.priceCounter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgBlock { 
    height: 172px;
}

.brandName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 375px) {
    .imgBlock {
        height: 116px;
    }    
}

@media only screen and (min-width: 375px) {
    .imgBlock {
        height: 116px;
    }
    .brand {
        font-size: 12px;
    }
    .name {
        font-size: 16px;
    }
    .upperBlock {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .price {
        width: 116px;
        font-size: 18px;
    }
    .priceCounter {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .mainContent {
        gap: 10px;
    }
}

@media only screen and (min-width: 726px) {
    .priceCounter {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .price {
        width: 200px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 936px) {

}

@media only screen and (min-width: 1248px) {
    .imgBlock {
        height: 172px;
    }  
}