.cardWrapper {
    width: 100%;
    background-color: #F2F2F2;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardLabels {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.adressCardName {
    color: var(--Dark, #1E1E1E);
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.removeLabel {
    color: red;
    cursor: pointer;
    transition: all .3s;
}

.removeLabel:hover {
    color: #D0BEE5;
    cursor: pointer;
}