.portraitImageBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 320px;
    background-image: url('../../../../public/Catalogue.png');
    background-size: 100%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.arrowDisabled svg {
    fill: #B3B3B3;
    cursor: default;
}

.rightArrow svg {
    fill: #1e1e1e;
    cursor: pointer;
    transition: all .3s;
}

.rightArrow svg:hover {
    fill: #D0BEE5;
}

.leftArrow svg {
    fill: #1e1e1e;
    cursor: pointer;
    transition: all .3s;
}

.leftArrow svg:hover {
    fill: #D0BEE5;  
}

.pageTab {
    cursor: pointer;
    transition: all .3s;
}

.pageTab:hover {
    color: #D0BEE5;
}

.catalogueContentFull {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 32px;
}

.catalogueFilterContainer {
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.catalogueProductContainer {
    max-width: 904px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.paginationContainer {
    width: 100%;
    height: 57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #F2F2F2;
}

.pages {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

@media only screen and (max-width: 375px) {
    .portraitImageBlock {
        height: 240px;
    }
}

@media only screen and (min-width: 375px) {
    .portraitImageBlock {
        height: 240px;
    }
}

@media only screen and (min-width: 726px) {
    .portraitImageBlock {
        height: 320px;
    }
}

@media only screen and (min-width: 936px) {

}

@media only screen and (min-width: 1248px) {

}
