.offcanvas {
    top: 110px;
    --bs-offcanvas-width: 50%;
    --bs-offcanvas-padding-x: 0;
    --bs-offcanvas-padding-y: 2rem;
    --bs-offcanvas-border-width: 0px;
    padding-right: 100px;
    max-width: none;
}

.backDrop {
    top: 110px;
}

.offcanvasWrapper {
    resize: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cartHeader {
    color: #1E1E1E;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.cartHeader button {
    --bs-btn-close-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.48118 2.29215L3.05691 1.86789C2.9007 1.71168 2.64744 1.71168 2.49123 1.86789L1.6427 2.71642C1.48649 2.87263 1.48649 3.12589 1.6427 3.2821L2.06696 3.70637L10.2844 11.9238C10.4406 12.08 10.4406 12.3333 10.2844 12.4895L1.89591 20.8779L1.47165 21.3022C1.31544 21.4584 1.31544 21.7117 1.47165 21.8679L2.32018 22.7164C2.47639 22.8726 2.72965 22.8726 2.88586 22.7164L3.31013 22.2922L11.6986 13.9037C11.8548 13.7475 12.1081 13.7475 12.2643 13.9037L20.6527 22.2922L21.077 22.7164C21.2332 22.8726 21.4865 22.8726 21.6427 22.7164L22.4912 21.8679C22.6474 21.7117 22.6474 21.4584 22.4912 21.3022L22.067 20.8779L13.6785 12.4895C13.5223 12.3333 13.5223 12.08 13.6785 11.9238L21.8959 3.70637L22.3202 3.2821C22.4764 3.12589 22.4764 2.87263 22.3202 2.71642L21.4716 1.86789C21.3154 1.71168 21.0622 1.71168 20.906 1.86789L20.4817 2.29215L12.2643 10.5096C12.1081 10.6658 11.8548 10.6658 11.6986 10.5096L3.48118 2.29215Z" fill="%23B3B3B3"/></svg>')
}

.cartContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 448px;
}

.cartContentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.overflowTest {
    overflow-y: auto;
    height: 100%;
}

.offcanvasBody {
    height: 100%;
    min-height: 0;
    --bs-offcanvas-padding-y: 0rem;
}

.cartProducts {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bodyWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.orderBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.priceLabel {
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.cartTitle {
    color: #1E1E1E;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media only screen and (max-width: 375px) {
    .offcanvas {
        top: 64px;
        --bs-offcanvas-width: 100%;
        --bs-offcanvas-padding-x: 0;
        --bs-offcanvas-padding-y: 2rem;
        padding-right: 100px;
        max-width: none;
    }
    .backDrop {
        top: 64px;
    }
}

@media only screen and (min-width: 375px) {
    .offcanvas {
        --bs-offcanvas-width: 100%;
        --bs-offcanvas-padding-x: 0;
        --bs-offcanvas-padding-y: 2rem;
        padding-right: 0rem;
        max-width: none;
    }
    .backDrop {
        top: 64px;
    }
    .offcanvasWrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .cartContent {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    .cartHeader {
        font-size: 24px;
        --bs-offcanvas-padding-y: 0rem;
        padding-top: 2rem;
    }
    .cartProducts {
        max-height: 360px;
    }
    .orderBlock {
        
    }
}

@media only screen and (min-width: 726px) {
    .offcanvas {
        --bs-offcanvas-width: 70%;
        --bs-offcanvas-padding-x: 0;
        --bs-offcanvas-padding-y: 2rem;
        padding-right: 0rem;
        max-width: none;
    }
    .backDrop {
        top: 110px;
    }
    .cartHeader {
        font-size: 32px;
        --bs-offcanvas-padding-y: 0rem;
        padding-top: 12px;
    }
    .cartContent {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 936px) {
    .offcanvas {
        --bs-offcanvas-width: 50%;
        --bs-offcanvas-padding-x: 0;
        --bs-offcanvas-padding-y: 2rem;
        padding-right: 0rem;
        max-width: none;
    }
    .offcanvasWrapper {
        max-width: 608px;
    }
    
}

@media only screen and (min-width: 1248px) {
    .cartContent {
        padding-right: 0rem;
    }
}