.reviewCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
    margin: 0;
}

.reviewHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}