.tonightContainer {
    max-width: 1216px;
}

.tonightWrapper {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.breadcrumbContainer {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.breadcrumbHeaderText {
    color: #1E1E1E;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.breadcrumbLinkText {
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.cardLabel {
    display: flex;
    justify-content: space-between;
    color: #1E1E1E;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media only screen and (max-width: 375px) {
    .tonightContainer {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .tonightWrapper {
        gap: 80px;
    }
    .breadcrumbLinkText {
        font-size: 16px;
    }
    .breadcrumbHeaderText {
        font-size: 32px;
    }
    .breadcrumbContainer {
        gap: 12px;
        padding-top: 34px;
    }
    .cardLabel {
        font-size: 24px;
        padding-bottom: 24px;
    }
}

@media only screen and (min-width: 375px) {
    .tonightContainer {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .tonightWrapper {
        gap: 80px;
    }
    .breadcrumbLinkText {
        font-size: 16px;
    }
    .breadcrumbHeaderText {
        font-size: 32px;
    }
    .breadcrumbContainer {
        gap: 12px;
        padding-top: 34px;
    }
    .cardLabel {
        font-size: 24px;
        padding-bottom: 24px;
    }
}

@media only screen and (min-width: 726px) {
    .tonightContainer {
        max-width: 694px;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .tonightWrapper {
        gap: 100px;
    }
    .breadcrumbLinkText {
        font-size: 20px;
    }
    .breadcrumbHeaderText {
        font-size: 48px;
    }
    .breadcrumbContainer {
        gap: 20px;
        padding-top: 32px;
    }
    .cardLabel {
        font-size: 36px;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 936px) {
    .tonightContainer {
        max-width: 904px;
    }
    .breadcrumbContainer {
        padding-top: 40px;
    }
    .cardLabel {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1248px) {
    .tonightContainer {
        max-width: 1216px;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .tonightWrapper {
        gap: 120px;
    }
    .breadcrumbLinkText {
        font-size: 20px;
    }
    .breadcrumbHeaderText {
        font-size: 54px;
    }
}
