.portraitImageBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 320px;
    background-size: 100%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.socialSlide {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.yellowSlide {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    
    background-image: url(../../../../../../public/slider/Slide1.png);
   
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.swiperBulletCustom {
    width: 40px;
    height: 10px;
    background-color: #111;
}

.swiper-container {
    width: 100%;
    height: 100vh;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    background: pink;
    font-size: 100px;
    text-align: center;
    line-height: 100vh;
    font-weight: 900;
}

.swiper-slide.con2 {
    background: skyblue;
}
.swiper-slide.con3 {
    background: green;
}
  
.swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0;
    margin-right: 20px;
}
.swiper-pagination-bullet {
    position: relative;
    width: 156px;
    height: auto;
    text-align: left;
    border-radius: 0;
    opacity: 1;
    margin-right: 20px;
    background-color: transparent;
}
.em {
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: -0.38px;
    color: #111;
}
.i {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 10px;
    background-color: hotpink;
}
.b {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 0%;
    height: 10px;
    background-color: rgba(17, 17, 17, 1);
}

.swiper-pagination-bullet-active {
    background-color: transparent;
}

.b {
    animation-name: countingBar;
    animation-duration: 3s; 
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.labelAdsBlock {
    display: flex;
    flex-direction: column;
    max-width: 556px;
    margin-left: 30%;
}

.firstSlideLbl {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--Dark, #1E1E1E);
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 54px */   
}

.firstSlideLbl:hover {
    cursor: default;   
}

.firstSlideLbl svg:hover {
    cursor: pointer;   
}

.firstIcons {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.defaultWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 556px;
    margin-left: 40%;
}

.slideHeaderLabel {
    color: var(--Dark, #1E1E1E);
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 54px */
}

.slideHeaderLabel:hover {
    cursor: default;
}

.slideDescriptionLabel {
    color: var(--Dark, #1E1E1E);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.slideDescriptionLabel:hover {
    cursor: default;
}

@media only screen and (max-width: 375px) {

}

@media only screen and (min-width: 375px) {
    .socialSlide {
        justify-content: flex-start;
        height: 542px;
        background-size: cover;
        background-position: 20% 100%;
    }
    .firstSlideLbl {
        font-size: 32px;
    }
    .firstSlideLbl svg {
        width: 45px;
        height: 45px;
    }
    .firstIcons {
        gap: 20px;
    }
    .labelAdsBlock {
        margin: 0;
        padding: 1rem;
        font-size: 32px;
    }
    .defaultWrapper {
        margin: 0;
        gap: 1rem;
        padding: 1rem;
    }
    .slideDescriptionLabel {
        font-size: 1rem;
    }
    .slideHeaderLabel {
        font-size: 32px;
    }
}

@media only screen and (min-width: 768px) {
    .socialSlide {
        justify-content: center;
        height: 361px;
        background-position: 100% 100%;
    }
    .firstSlideLbl {
        font-size: 48px;
    }
    .firstSlideLbl svg {
        width: 60px;
        height: 60px;
    }
    .firstIcons {
        gap: 20px;
    }
    .labelAdsBlock {
        margin-left: 40%;
        padding: 0rem;
        font-size: 48px;
    }
    .slideDescriptionLabel {
        font-size: 24px;
    }
    .defaultWrapper {
        margin-left: 30%;
        gap: 24px;
        padding: 0rem;
    }
    .slideHeaderLabel {
        font-size: 32px;
    }
}

@media only screen and (min-width: 936px) {
    .socialSlide {
        height: 500px;
        background-position: 33%;
    }
}

@media only screen and (min-width: 1248px) {
    .socialSlide {
        background-position: 50%;
    }
}

@keyframes countingBar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}
