.wqwe {
    display: flex;
    max-width: 1216px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 120px;
    gap: 120px;
}

.blockTitle {
    color:#1E1E1E;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media only screen and (max-width: 600px) {
    .wqwe {
        width: 100%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        gap: 80px;
    }
    .blockTitle {
        color: #1E1E1E;
        font-size: 24px;
        font-weight: 800;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wqwe {
        max-width: 768px;
        gap: 120px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wqwe {
        max-width: 1216px;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
