.yellowSlide {
    background: url(../../../public/slider1.png), lightgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 500px;
    aspect-ratio: 16 / 9;
}

.swiperBulletCustom {
    width: 40px;
    height: 10px;
    background-color: #111;
}

.swiper-container {
    width: 100%;
    height: 100vh;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    background: pink;
    font-size: 100px;
    text-align: center;
    line-height: 100vh;
    font-weight: 900;
}

.swiper-slide.con2 {
    background: skyblue;
}
.swiper-slide.con3 {
    background: green;
}
  
.swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0;
    margin-right: 20px;
}
.swiper-pagination-bullet {
    position: relative;
    width: 156px;
    height: auto;
    text-align: left;
    border-radius: 0;
    opacity: 1;
    margin-right: 20px;
    background-color: transparent;
}
.em {
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: -0.38px;
    color: #111;
}
.i {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 10px;
    background-color: hotpink;
}
.b {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 0%;
    height: 10px;
    background-color: rgba(17, 17, 17, 1);
}

.swiper-pagination-bullet-active {
    background-color: transparent;
}

.b {
    animation-name: countingBar;
    animation-duration: 3s; 
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes countingBar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .yellowSlide {
        background-position-x: 27%;
        background-attachment: fixed;
        height: 542px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .yellowSlide {
        background-position: 50% 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .yellowSlide {
        background-position: 45% 55%;
        height: 361px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .yellowSlide {
        background-position: 50% 50%;
        height: 500px;
    }
}
