.volumePills {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.default {
    background-color: #F2F2F2;
}

.active {
    background-color: #D0BEE5;
}

.volumePill {
    padding: 10px 12px;
    color:#1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

@media only screen and (max-width: 375px) {
    .volumePill {
        font-size: 10px;
        padding: 5px 6px;
    }
}

@media only screen and (min-width: 375px) {
    .volumePill {
        font-size: 12px;
        padding: 6px 5px;
    }
}

@media only screen and (min-width: 726px) {
    .volumePill {
        font-size: 14px;
        padding: 10px 12px;
    }
}

@media only screen and (min-width: 936px) {

}

@media only screen and (min-width: 1248px) {
    .volumePill {
        font-size: 16px;
    }
}