.productsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
}

@media only screen and (max-width: 375px) {
    .productsWrapper {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-column-gap: 0px;
    }
}

@media only screen and (min-width: 375px) {
    .productsWrapper {
        grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
        grid-column-gap: 15px;
        grid-row-gap: 24px;
    }
}

@media only screen and (min-width: 726px) {
    .productsWrapper {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-column-gap: 32px;
        grid-row-gap: 40px;
    }
}

@media only screen and (min-width: 936px) {
    .productsWrapper {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-column-gap: 32px;
        grid-row-gap: 60px;
    }
}

@media only screen and (min-width: 1248px) {

}
