.filterPill {
    transition: all .3s;
    background-color: #F2F2F2;
    cursor: pointer;
}

.filterPill input {
    display: none;
}

.filterPill > input:checked {
    background-color: #D0BEE5;
}

.activePill {
    background-color: #D0BEE5;
}

.filterLabel {
    display: flex;
    flex-direction: row;
    padding: 8px;
    color: #1E1E1E;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}