.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  --bs-link-hover-color: #d0bee5;
}

.nav-link {
  --bs-nav-link-color: black;
}

.form-check-input[type=checkbox] {
  border-radius: 0;
}

.form-check-input {
  --bs-form-valid-border-color: none;
  border-radius: 0%;
}

.xcxn {
  --bs-tertiary-bg-rgb: rgba((255,255,255),1);
}

.accordion-button {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-primary-bg-subtle: none;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-border-width: 0;
  --bs-accordion-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.form-control {
  --bs-border-color: #B3B3B3;
  --bs-border-radius: 0px;
}

.form-check input[type=checkbox] {
  border-radius: 0px;
  --bs-border-color: black;
  box-shadow: none;
}

.form-check input[type=checkbox]:focus {
  border-color: black;
}

.form-check input[type=checkbox]:checked {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' fill='%231E1E1E'/%3E%3Cpath d='M8 14L15 2L8 9.73333L1 2L8 14Z' fill='white'/%3E%3C/svg%3E%0A");
  border-color: black;
}

.nav-pills .nav-item {
  padding: 0px;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #0d6efd;
  gap: 8px;
}

.nav-pills .nav-link.active {
  --bs-nav-pills-link-active-color: black;
  --bs-nav-pills-link-active-bg: #d0bee5
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 1216px;
}

.font-manrope {
  font-family: 'Manrope';
}

.rangeSlider {
  width: 100%;
  height: 4px;
  background-color: lightgray;
  border-radius: 5px;
}

.rangeSlider .thumb {
  width: 12px;
  height: 12px;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  border: 2px solid black;
  top: -4px;
}

.track.track-1 {
  height: 4px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
}

#nav-dropdown-dark-example {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-underline {
  --bs-navbar-nav-link-padding-x: 0;
  --bs-navbar-nav-link-padding-x: 0;
  --bs-nav-underline-gap: 2rem;
  --bs-nav-underline-border-width: 1px;
}

.nav-underline .nav-link.active {
  font-weight: 400;
}

.navbar-toggler {
  --bs-navbar-toggler-padding-x: 1rem;
  --bs-navbar-toggler-border-color: none;
  --bs-navbar-toggler-border-radius: none;
  --bs-navbar-toggler-focus-width: none;
  --bs-navbar-toggler-transition: none;
}

.nav-link {
  --bs-navbar-nav-link-padding-x: 0;
}

