.filterContent {
    width: 100%;
    background-color: white;
    text-align: start;
    padding-left: 0;
}

.checkBtnGroup {
    gap: 8px;
    margin-top: 10px;
    justify-content: flex-start;
    width: 100%;
}

.rangeSliderContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
